# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# The zipped pip dependencies used by the aws lambda environment.
.requirements.zip 


# other
venv/
.vscode/
node_modules/
__pycache__/
*.png
